.conteudoMenus {
    height: 100%;
    margin-bottom: 100px;
}

.conteudoMenus h3 {
    padding: 30px 0 20px 0;
}

.configuracoes {
    width: 100%;
    background: #EAEAEA;
    box-shadow: 0px 4px 4px 0px #0000003b;
    height: fit-content;
    padding: 5%;
    border-radius: 10px;
    display: flex;
}

.configuracoes nav {
    display: flex;
    flex-direction: column;
    width: 20%;
    gap: 10px;
}

.configuracoes .linha::after {
    content: "";
    width: 2px;
    height: 100%;
    background: #0000003b;
    display: inline-block;
    position: relative;
    margin: 0 38px; /* Espaço antes da linha */
}

.conteudo {
    width: 100%;
}

.conteudo header {
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
}

.conteudo header button {
    height: 20%;
    border-radius: 5px;
    padding: 5px;
    border: 1.5px solid #0000003b;
    background: transparent;
    font-size: 15px;
    font-weight: 400;
}

.conteudo main label {
    display: grid;
    margin-bottom: 12px;
}

.conteudo main label span {
    font-size: 14px;
    font-weight: 500;
}

.conteudo main label input {
    background: transparent;
    border: 1px solid #0000003b;
    border-radius: 5px;
    padding: 2px 5px;
}

.conteudo main label textarea {
    resize: none;
    background: transparent;
    border: 1px solid #0000003b;
    border-radius: 5px;
    padding: 2px 5px;
}

.recuperar {
    height: fit-content;
    background: #CCCCCC;
    padding: 8px;
    margin: 16px 0;
}

.recuperar p {
    color: black;
    padding: 0;
    margin: 0;
}

.recuperar a {
    color: #0E4C8C;
    text-decoration: underline;
}

.conteudo footer {
    display: flex;
    justify-content: end;
    gap: 20px;
}

.conteudo footer button {
    height: 20%;
    border-radius: 5px;
    padding: 5px;
    border: 1.5px solid #0000003b;
    background: transparent;
    font-size: 15px;
    font-weight: 400;
}

.conteudo footer .salvar {
    background: #0E4C8C;
    color: white;
    width: 80px;
    font-weight: 400;
}