* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h3 {
    text-align: left;
    color: #333;
  }

  .container .conteudo {
    box-shadow: 0px 4px 4px 0px #0000003b;
    border-radius: 0 0 10px 10px;
  }
  
  .cabecalho {
    display: flex;
    justify-content: space-between;
    background-color: #0d47a1;
    color: rgb(231, 231, 231);
    padding: 30px 40px;
    border-radius: 10px 10px 0 0;
  }
  
  .cabecalho section {
    display: flex;
    justify-content: space-between;
  }
  
  .cabecalho p {
    margin-bottom: 5px;
  }
  
  .div1, .div2 {
    display: flex;
    flex-direction: column;
  }
  
  .line, .line2 {
    margin: 0 25px;
    width: 1px;
    background-color: white;
  }

  .forms {
    width: 95%;
    margin: auto;
    margin-bottom: 10%;
    padding: 4% 0 6% 0;
    border-collapse: separate;
    border-spacing: 6px 4px;
  }

  .forms:nth-child(2) {
    border-spacing: 12px 4px;
  }
  
  thead th {
    padding: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
  }

  thead tr {
    padding-right: 200px;
  }

  tbody td {
    width: 68px;
    height: 30px;
    text-align: center;
    border-radius: 4px;
  }

.corpo tr td {
    border: 1px solid rgba(0, 0, 0, 0.199);
    font-size: 15px;
    
  }

  tbody tr .materia {
    border: none;
  }
  
  
  tbody td:first-child {
    text-align: left;
    font-size: 15px;
    font-weight: 500;
  }
