@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.paginaInicial {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Roboto", system-ui;
}

.container {
    padding: 0 10%;
}

.header {
    width: 100vw;
    height: 80px;
    background-color: #0E4C8C;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.header img {
    height: 64px;
}

.header .user {
    height: 48px;
}

.banner {
    background-image: url(/assets/banner-inicial.jpg);
    background-size: cover;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.matricula {
    width: 400px;
    height: 80px;
    border-radius: 20px;
    box-shadow: 4px 4px 4px black;
    background: #0075CD;
    border: 1px solid black;
    color: #fff;
    grid-row: 6;
    grid-column: 3;
}

.info {
    height: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: #0075CD;
    padding-top: 85px;
    color: white;
    clip-path: polygon(20% 0%, 80% 0%, 100% 0, 100% 80%, 64% 68%, 32% 68%, 0% 80%, 0 0);
}

.info h2 {
    margin-bottom: 56px;
}

.info .p {
    margin-bottom: 32px;
    font-weight: 300;
}

.oneContent p {
    width: 400px;
    margin-right: 100px;
}

.carrossel {
    height: 500px;
    background: #269CCC;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6,1fr);
    margin-top: -200px;
    clip-path: polygon(37% 0, 100% 0, 100% 0, 100% 63%, 81% 69%, 32% 68%, 0 73%, 0 0);
    gap: 20px;
}

.carrossel div {
    background: #0075CD;
    width: 350px;
    height: 200px;
    grid-row: 2;
    margin: auto;
}

.footer {
    width: 100%;
    font-weight: 500;
}

.footer div {
    display: flex;
    height: 80px;
    background: #0E4C8C;
    align-items: center;
    justify-content: space-around;
}

.footer p {
    text-align: center;
}

.footer div p {
    color: aliceblue;
}