.Login {
    display: flex;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.BlueBox {
    height: 100vh;
    width: 40%;
    background: #0E4C8C;
}

.BlueBox .home .icon {
    font-size: 24px;
}

.BlueBox .home a {
    display: flex;
    color: #eaeaea;
    margin: 1.5rem;
    gap: 8px;
}

.senhaInput {
    position: relative;
}

.senhaInput span {
    position: absolute;
    right: 10px;
    top: 2px;
    font-size: 16px;
}

.conteudo {
    margin: auto;
}

.conteudo h1 {
    font-weight: 700;
    font-style: normal;
    padding-bottom: .8rem;
}   

.conteudo .data {
    display: flex;
    flex-direction: column;
}

.conteudo .data p {
    font-weight: 500;
    font-style: normal;
    margin-bottom: .3rem;
}

.conteudo .data p span {
    color: red;
    font-weight: 900;
}

.conteudo .data input {
    width: 25rem;
    height: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 5px;
    margin-bottom: 8px;
    padding-left: 10px;
}

.conteudo .rememberPassword {
    display: flex;
    height: 10px;
    line-height: 10px;
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

.conteudo .rememberPassword input {
    width: .687rem;
    height: .687rem;
}

.conteudo .rememberPassword p {
    font-family: "Roboto", system-ui;
    font-weight: 500;
    font-size: 10px;
    margin-left: .25rem;
}


.loginButton {
    display: flex;
    flex-direction: column;
    margin-top: 2rem ;
    width: 100%;
    align-items: center;
}

.loginButton button {
    width: 16rem;
    height: 2.625rem;
    background: #0E4C8C;
    color: #fff;
    border-radius: 5px;
    font-family: "Roboto", system-ui;
    font-size: 14px;
    border: 1px solid black;
    box-shadow: 2px 2px 4px black;
    margin-bottom: .5rem;
}

.loginButton button:hover {
    background: #0c3a69;
    transform: scale(1.05);
    transition: .5s;
}
