.conteudoMenus{
    width: 85%;
    background: #EAEAEA;
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px #0000003b;
    height: 75%;    
    margin-left: 10%;
    margin-top: 3%;
} 

h3{
    color: black;
    font-family: "Roboto", system-ui;
    font-size: medium;
    margin-left: 5%;
    margin-bottom: -3%;
}

 .ctn-sub-menus{
    padding-top: 3%;
    display: grid;
    font-family: "Roboto", system-ui;
    color: black;
 }

 /* .linha-vertical {
    color: black;
    height: 500px;
    border-left: 2px solid;
} */

 label{
    margin-top: 3%;
    color: black;
    display: grid;
    font-family: "Roboto", system-ui;
 }

.label-input{
    font-family: "Roboto", system-ui;
    width: 40vw;
    height: 5vh;
    border: none;
    background-color: #D8D8D8;    
    border-radius: 0.5rem;
}

input{
    color: black;
    font-family: "Roboto", system-ui;
    font-size: medium;
}

.email-warning{
    margin-top: 3%;
    background-color: #CCCCCC;
    color: black;
    width: 40vw;
    height: 7vh;
    border: none;
    display: grid;
}

h3{
    color: black;
}
.cfm{
    color: blue;
}

.ctn-form{
    display: flex;
    padding-left: 25%;
    margin-top: -11%;
    flex-direction: column;
}

#SaveButton{
    width: 8rem;
    height: 2.5rem;
    background: #0E4C8C;
    color: #fff;
    border-radius: 5px;
    font-family: "Roboto", system-ui;
    font-size: 16px;
    border: none;
    box-shadow: 2px 2px 4px black;
}

#CancelButton{
    width: 8rem;
    height: 2.5rem;
    background: #fff;
    color:black;
    border-radius: 5px;
    font-family: "Roboto", system-ui;
    font-size: 16px;
    border: none;
    box-shadow: 2px 2px 4px black;
}

.Button{
    display:flex;
    padding: 5%;
}

.Button button:hover {
    background: #0c3a69;
    transform: scale(1.05);
    transition: .5s;
}